body {
    font-family: Arial, sans-serif;
    background-color: #001F3F; 
    color: #FFDC00; 
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;  
    justify-content: space-between; 
    padding: 10px 0; 
}

.logo-container {
    margin-right: 20px; 
}

#logo {
    width: 150px; 
    cursor: pointer;
    transition: transform 0.3s ease;
}

#logo:hover {
    transform: scale(1.15); 
}

#logo:active {
    transform: scale(0.95);
}

nav ul {
    display: flex;
    justify-content: center; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;  
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #FFDC00; 
    text-decoration: none;
    padding: 10px 20px; 
    border-radius: 3px;
    font-size: 2.0em;
    transition: background-color 0.2s;
    font-weight: bold;
}

nav a:hover {
    background-color: #FFDC00;
    color: #001F3F;
}

header {
    text-align: center;
    font-family: sans-serif;
    padding: 30px 0; 
    background-color: #003366; 
    font-size: 3.7em;
    margin-bottom: 20px;
    font-weight: bold;
}

.main-content {
    margin: 20px;
    padding: 20px;
}

.main-panel h1 {
    font-size: 1.8em;
    margin-top: 0;
}

.movie-card {
    display: flex;
    align-items: center; 
    background-color: #8A8A8A;
    padding: 20px; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px 0; 
    max-width: 1100px; 
    margin-left: auto;
    margin-right: auto;
}

.movie-card h1 {
    font-size: 60px;
    color: #001F3F;
}

.movie-card p {
    font-size: 30px;
    color: #d0ff00;
}

img#dynamic-image {
    width: 250px; 
    height: 350px; 
    object-fit: cover;
    margin-right: 20px; 
    border-radius: 10px; 
}

.movie-description {
    flex-grow: 1; 
}

.movie-slider {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 20px;
    margin-top: 20px;
}

.movie-slider img {
    height: 150px;
    object-fit: cover;
    transition: transform 0.2s;
}

.movie-slider img:hover {
    transform: scale(1.3);
}

footer {
    background-color: #003366;
    color: #FFDC00;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.movielisttag {
    text-align: center;
}
